
@import "bulma/sass/utilities/functions";

// Täällä voidaan ylikirjoittaa kirjaston muuttujia.
$primary: #d38135;

// Tuodaan vain tarvittavat moduulit.
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/box";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/container";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/image";
@import "bulma/sass/elements/notification";
@import "bulma/sass/elements/table";
@import "bulma/sass/elements/title";
@import "bulma/sass/components/media";
@import "bulma/sass/components/navbar";
@import "bulma/sass/components/menu";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";


@mixin flex($direction, $wrap, $align-items, $justify-content) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align-items;
  justify-content: $justify-content;
}


h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
}

h3 {
  font-size: $size-3;
}

.main-container {
  padding: 10px 0;
}

// Peritään Bulman box-elementistä ja muokataan siitä tuotteita varten laatikko.
.product {
  @extend .box;
  height: 100%;
  position: relative;
  padding-bottom: 45px;
  
  .product-title {
    display: block;
    font-size: $size-5;
  }

  .product-price {
    display: block;
    font-size: $size-6;
  }

  .product-controls {
    @include flex(row, wrap, initial, initial);

    position: absolute;
    height: 42px;
    bottom: 2px;
    right: 2px;

    input {
      width: 5rem;
    }

    input, button {
      margin: 3px;
    }
  }
}

// Bulma piilottaa navigaation mobiili- ja tablet-koossa.
// Omassa layoutissani haluan kuitenkin näyttää navigaation aina tablet-koossa.
@media screen and (min-width: $tablet) {
  .navbar-burger {
    display: none;
  }
  .navbar-menu {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-content: stretch;
    box-shadow: none;
    padding: 0;
  }
  .navbar-brand {
    display: none;
  }
}

// Palkki heron alla. ("Ostoskorissasi on x tuotetta").
.shopping-basket {
  @include flex(row, nowrap, center, center);

  padding: 10px 0;
  background-color: #2e2e2e;
  color: #f3f3f3;

  a {
    margin-left: 10px;
    .fa {
      margin-right: 5px;
    }
  }
}

// Animoidaan Bulman notifikaatio-elementti ilmestymään alareunasta.
// is-active luokkaa vaihdellaan JavaScript-koodista.
.notification {
  position: fixed;
  bottom: -100px;
  width: 100%;
  text-align: center;
  z-index: 1;
  transition: bottom 300ms ease;

  &.is-active {
    bottom: 0px;
  }
}

.menu {
  a.is-active {
    background-color: $primary;
  }
}

.checkout {
  table {
    display: inline-block;
  }
}
